PORT=8000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"

MIDTRANS_SERVER_KEY=SB-Mid-server-YOUR_SERVER_KEY
MIDTRANS_CLIENT_KEY=SB-Mid-client-YOUR_CLIENT_KEY
MIDTRANS_IS_PRODUCTION=false
